#primary {
  padding-block: 20px;
  padding-inline: 28px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nesting css :*/
  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
    /* color: red; */
  }

  .logo {
    width: 200px;
  }

  #botoes{
    margin-right: 1rem;
  }
  button{
    width: 5rem;
    height: 2rem;
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  gap: -1rem;
  border-inline: none;
  padding-inline-start: 3rem;
  padding-inline-end: -300rem !important;
}

#terceiro {
  width: 100%;
  overflow: hidden;
  border-block: 1px solid var(--stroke-color);
  padding-block: 1rem;
}

#terceiro .faixa {
  display: flex;
  width: max-content;

  animation: slideHorizontal 40s linear infinite;
}

#terceiro .faixa a {
  white-space: nowrap;
  font-weight: 600;
  border-right: 1px solid white;
  padding-inline: 1rem;
}

.dolar:hover {
  color: rgb(255, 0, 0);
}
.euro:hover {
  color: rgb(19, 71, 156);
}
.libra:hover {
  color: rgb(33, 158, 43);
}
  .etec:hover {
    color: rgb(200, 185, 70) !important;
  }

@keyframes slideHorizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
