#primary {
  padding-block: 20px;
  padding-inline: 28px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nesting css :*/
  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
    /* color: red; */
  }

  .logo {
    width: 200px;
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  gap: -1rem;
  border-inline: none;
  padding-inline-start: 3rem;
  padding-inline-end: -300rem !important;

}
